[Unit]
Description=OpenFisca Legislation Explorer

[Service]
Environment="NODE_ENV=production"
Environment="COUNTRY_PRODUCTION_CONFIG=tunisia"
ExecStart=/usr/bin/node /home/benjello/openfisca/legislation-explorer/index.js
User=benjello
Restart=always

[Install]
WantedBy=multi-user.target
